{% from "text.njk" import displayDescription, displayInlineDescription %}
{% from "function.njk" import displayFunction %}

{% macro displayClassContent(content) %}
{%- for c in content %}
{%- if c.type == 'method' or c.type == 'constructor' -%}
{{ displayFunction(c) }}
{%- endif -%}
{% endfor -%}
{% endmacro %}

{% macro displayClass(class) %}
## (_{{class.scope}}_) {{class.name}}
{{ displayDescription(class.description) -}}
{{ displayClassContent(class.content) -}}
{% endmacro %}