{% from "text.njk" import displayDescription, displayInlineDescription %}

{% macro displayParams(params) %}
{% if params -%}
**Parameters**

{% for p in params -%}
 - **{{ p.name }}** - _{{- p.type }}_ - {{ displayInlineDescription(p.description) -}}
{% endfor %}
{%- endif -%}
{% endmacro %}

{% macro displayReturns(r) %}
{% if r -%}
**Returns**

 - **{{ r.type }}**{{ ' - ' + displayInlineDescription(r.description) if r.description }}
{%- endif -%}
{% endmacro %}

{% macro displayExceptions(exceptions) %}
{% if exceptions -%}
**Throws**

{% for e in (exceptions) %} - **{{ e.type }}**{{ ' - ' + displayInlineDescription(e.description) if e.description }}{% endfor %}
{% endif -%}
{% endmacro %}

{% macro displayFunction(func) %}
### (_{{ func.scope }}_) {{ func.name }}
---
{{ displayDescription(func.description) -}}
{{ displayParams(func.params) -}}
{{ displayReturns(func.returns) -}}
{{ displayExceptions(func.exceptions) -}}
{% endmacro %}