{% from "text.njk" import displayDescription %}

{% macro displayInstance(instance) %}
## ({{ instance.scope }}) {{ instance.name | safe }}
{{ displayDescription(instance.description) -}}
{% endmacro %}