{% from "text.njk" import displayDescription %}
{% from "summary.njk" import displaySummary %}
{% from "instance.njk" import displayInstance %}
{% from "function.njk" import displayFunction %}
{% from "class.njk" import displayClass %}

{% macro displayModuleContent(content) %}
{%- for c in content %}
{%- if c.type == 'instance' -%}
{{- displayInstance(c) }}
{%- elif c.type == 'function' -%}
{{- displayFunction(c) }}
{%- elif c.type == 'class' -%}
{{- displayClass(c) }}
{%- endif -%}
{% endfor -%}
{% endmacro %}

{% macro displayModule(module, backToSectionRef) %}
## {{ module.name | safe }}
---
{{ displayDescription(module.description) -}}
{{ displaySummary(module.summary, 1) -}}
{{ displayModuleContent(module.content) -}}
{% endmacro %}