{% from "text.njk" import textFlow, contentFlow %}
{% from "summary.njk" import displaySummary %}
{% from "module.njk" import displayModule %}

{%- macro displaySectionContent(content) %}
{%- for item in content -%}
{%- if item.type == 'summary' -%}
{{ displaySummary(item.content, 1) }}
{%- elif item.type == 'module' -%}
{{ displayModule(item, backToSectionRef) }}
{%- else %}
{{ textFlow(item) }}
{% endif -%}
{%- endfor %}
{% endmacro -%}

{% for section in sections -%}
# {{ section.title | safe }}
{{ displaySectionContent(section.content) }}
{%- endfor -%}