{% macro displaySummary(summaryContent, minItemAmount) %}
{% if summaryContent.length > minItemAmount -%}
## Summary
{% for item in summaryContent %}
 - [{{- item.text | safe -}}]({{- item.ref -}})
    {%- if item.menu -%}
    {%- for subitem in item.menu %}
   - [{{- subitem.text | safe -}}]({{- subitem.ref -}})
    {%- endfor -%}
    {%- endif -%}
{% endfor -%}
{% endif %}
{% endmacro %}