{%- macro contentFlow(sequence) -%}
{%- for t in sequence -%}
{%- if (t.type === 'text') -%}{{- t.value | safe -}}{%- elif (t.type === 'link') -%}[{{- t.text | safe -}}]({{- t.ref -}}){%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{%- macro bulletedFlow(sequence) -%}
{%- for t in sequence %}
{{ ' - ' + contentFlow(t.content) -}}
{% endfor -%}
{%- endmacro -%}

{%- macro numberedFlow(sequence) -%}
{%- for t in sequence %}
{{ t.position }}. {{ contentFlow(t.content) -}}
{% endfor -%}
{%- endmacro -%}

{%- macro textFlow(text) -%}
{%- if (text.type === 'para') -%}
{{- contentFlow(text.content) -}}
{%- elif (text.type === 'code') -%}
{{- contentFlow(text.content) -}}
{%- elif (text.type === 'title') -%}
{{- '### ' + contentFlow(text.content) -}}
{%- elif (text.type === 'numbered') -%}
{{- numberedFlow(text.items) -}}
{%- elif (text.type === 'bulleted') -%}
{{- bulletedFlow(text.items) -}}
{%- endif -%}
{%- endmacro -%}

{% macro displayDescription(description) %}
{%- for part in description %}
{{ textFlow(part) }}
{% endfor -%}
{% endmacro %}

{% macro displayInlineDescription(description) %}
{%- set space = joiner(' ') -%}
{%- for e in description -%}
{{ space() + contentFlow(e.content) if e.type === 'title' or e.type === 'para' }}
{% endfor -%}
{% endmacro %}